/ServiceHelper/obj
/ServiceHelper/bin
/WindowsHelper/obj
/WindowsHelper/bin
/WtsApi32Helper/obj
/WtsApi32Helper/bin
/ExecuteHelper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/WindowsHelper/v16/.suo
